{erl_opts, [debug_info]}.
{deps, [
  {libsodium, ".*", {git, "git://github.com/potatosalad/erlang-libsodium.git", {branch, "master"}}}
]}.

{relx, [{release, {mdht, "0.1.0"},
         [mdht,
          sasl,
	  libsodium
	 ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
	   {prod, [{relx, [{dev_mode, false},
                           {include_erts, true}]}]
           },
	   {test, [{deps, [
	   	  	  {meck, ".*", {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
			  ]}]}
	   ]
}.


{ct_opts, [
	  {dir, ["test"]},
	  {spec, "./test/di.spec"},
	  {sys_config, [" ./config/sys.config"]}	
	  ]}.